*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.container {
margin: 0 auto;
width: 90%;
}


@media (min-width: 40rem) {
.column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
}
}

@media all and (min-width: 1025px) {
    .column {
        position: relative;
        float: left;
        width: 32%; 
        height: auto;
        padding: 5px;
        
    }
  }

@media all and (max-width:425px) {
    .column {
    	position: relative;
        float: left;
        width: 90%;
        height: auto;
        padding: 4px;
    }
}

@media all and (max-width:1024px) and (min-width:426px) {
    .column {
    	position: relative;
        float: left;
        width: 45%;
        height: auto;
        padding: 6px;
    }
}

.column.two-thirds { width: 66.7%; text-align: right; }
.column.third { width: 33.3%; }

img{
	width: 100%;
    height: inherit;
    opacity: 1;
    transition: .5s ease;
}

.show{
    opacity: 0;
    position: absolute;
    font-size: 2vh;
    overflow: hidden;
}

.column.third:hover img{
    opacity: .5;
}

.column.third:hover .show{
    opacity: 1;
}